//
   Created by 11952 on 2017/3/27.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-3.1.1.js')
        script(src='/javascripts/registerCtrl.js')

    body
        block content
            div.Rect
                div
                    span.tipText 账号
                    input.usedInput#userNum(style='margin-left:10%')
                div
                    span.tipText 密码
                    input.usedInput#registerPw(type='password',style='margin:3% 0 0 10%')
                div
                    span.tipText 确认密码
                    input.usedInput#confirmPw(type='password',style='margin:3% 0 0 5%')
                div
                    span.tipText(style='color:#c73d4f') 公司密钥
                    input.usedInput#cpKey(style='border: 3px solid #c73d4f')
                button.usedButton(onclick='register()') 注册
